<!doctype html>
<html>
<head>
  <title>Loupe prototype</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>

  <canvas width="1024" height="768" id="canvas"></canvas>

  <div class="loupe">
    <div class="loupe__overlay">
      <div class="loupe__sample"></div>
      <p class="loupe__format">CSS Hex</p>
      <p class="loupe__color"></p>
    </div>
  </div>

  <script src="/javascripts/vendor/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/vendor/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/vendor/jcanvas.js" type="text/javascript" charset="utf-8"></script>

  <script src="/javascripts/vendor/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/vendor/keymaster.js" type="text/javascript" charset="utf-8"></script>

  <script src="/javascripts/generated/cs.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/cs.loupe.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/cs.overlay.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      window.loupe = new CS.Loupe();
    })
  </script>

</body>
</html>
