<!doctype html>
<html>
<head>
  <title>Loupe prototype</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="loupe"></div>

  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/keymaster.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/loupe.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      new Loupe();
    })
  </script>

</body>
</html>
