<!doctype html>
<html>
<head>
  <title>Loupe prototype</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>

  <canvas width="1024" height="768" id="canvas"></canvas>

  <div class="loupe">
    <div class="loupe__overlay">
      <div class="loupe__sample"></div>
      <p class="loupe__format">CSS Hex</p>
      <p class="loupe__color"></p>
    </div>
  </div>

  <menu class="menu hidden">
    <div class="menu__header">
      <span class="menu__sample active" style="background-color:#f00"></span>
      <span class="menu__sample" style="background-color:#f55e00"></span>
      <span class="menu__sample" style="background-color:#279189"></span>
      <span class="menu__sample" style="background-color:#3377ba"></span>
      <span class="menu__sample" style="background-color:#3377ba"></span>
      <span class="menu__sample" style="background-color:#3d6a8b"></span>
    </div>
    <section class="menu__group">
      <li class="menu__item active">
        <span class="menu__title">Hex</span>
        <span class="menu__subtitle">ff0000</span>
      </li>
      <li class="menu__item">
        <span class="menu__title">RGB</span>
        <span class="menu__subtitle">255,0,0</span>
      </li>
      <li class="menu__item">
        <span class="menu__title">HSL</span>
        <span class="menu__subtitle">360,0,1</span>
      </li>
    </section>
    <section class="menu__group">
      <li class="menu__item">
        <span class="menu__title">CSS Hex</span>
        <span class="menu__subtitle">#ff0000</span>
      </li>
      <li class="menu__item">
        <span class="menu__title">CSS RGBA</span>
        <span class="menu__subtitle">rgba(255,0,0,1)</span>
      </li>
      <li class="menu__item">
        <span class="menu__title">CSS HSL</span>
        <span class="menu__subtitle">hsl(360,0,1)</span>
      </li>
    </section>
    <section class="menu__group">
      <li class="menu__item">
        <span class="menu__title">NSColor RGBA</span>
        <span class="menu__subtitle">CalibratedRed: 150/100</span>
      </li>
      <li class="menu__item">
        <span class="menu__title">NSColor HSBA</span>
        <span class="menu__subtitle">DeviceHue: 0.005f</span>
      </li>
    </section>
    <section class="menu__group">
      <li class="menu__item">
        <span class="menu__title">UIColor RGBA</span>
        <span class="menu__subtitle">colorWithRed: 150/100</span>
      </li>
      <li class="menu__item">
        <span class="menu__title">UIColor HSBA</span>
        <span class="menu__subtitle">colorWithHue: 0.005f</span>
      </li>
    </section>
  </menu>

  <script src="/javascripts/vendor/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/vendor/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
  <!-- // <script src="/javascripts/vendor/jcanvas.js" type="text/javascript" charset="utf-8"></script> -->

  <script src="/javascripts/vendor/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/vendor/keymaster.js" type="text/javascript" charset="utf-8"></script>

  <script src="/javascripts/generated/cs.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/cs.canvas.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/cs.loupe.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/cs.overlay.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/generated/cs.menu.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      window.loupe = new CS.Loupe();
    })
  </script>

</body>
</html>
