.icon {
  display: inline-block;
  margin-right: .25em;
  vertical-align: -3px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;

  &__content {
    width: 16px;
    height: 16px;
  }

  &_star {
    background-image: image-url("/images/sample-fav_active.svg");
  }
}

.theme_dark {
  svg.icon__content > * {
    fill: #fff;
  }
}
