$borderWidth: 0px;
$borderRadius: 0px;
$sampleSize: 42px;
$calloutSize: 8px;

@keyframes shrink {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    flex-basis: $sampleSize;
    opacity: 0;
    transform: translateY(-$sampleSize);
  }
  100% {
    flex-basis: 0;
    opacity: 0;
    transform: translateY(-$sampleSize);
  }
}

.samples {
  display: flex;
  height: $sampleSize;
  background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0) 97%, rgba(0,0,0,.125)) left top repeat;
  background-size: $sampleSize $sampleSize;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &_empty {
    background: none;
    height: $sampleSize + 1;
    border-top-left-radius: $menuBorderRadius;
  }

  &__empty-msg {
    display: block;
    text-align: center;
    line-height: 2.75;
    font-weight: 200;
    font-family: "Helvetica Neue";
    font-size: 15px;
    width: 100%;
  }
}

// OSX 10.10 vibrancy imitation
*:not(.active) > .samples {
  filter: blur(32px);
}
.menu__favorites > .samples {
  filter: blur(0) !important;
  opacity: .25;
}

.sample {
  position: relative;
  flex: 0 0 $sampleSize;
  padding: 0;
  margin-right: 0px;
  width: $sampleSize;
  height: $sampleSize;
  box-shadow: 1px  0px 0px 0px rgba(0, 0, 0, .25) inset;
  opacity: 1;
  z-index: 1;
  transition:
    transform .5s,
    opacity .5s;

  &:first-of-type {
    border-top-left-radius: $menuBorderRadius;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:before,
  &:after {
    position: absolute;
    left: 50%;
    bottom: -1px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: $calloutSize solid transparent;
    border-right: $calloutSize solid transparent;
    border-bottom: $calloutSize solid #fff;
    content: "";
    transform: translateY(8px);
    transition: transform .25s .125s cubic-bezier(0.770, 0.000, 0.175, 1.000);

    visibility: hidden;
  }

  &:before {
    bottom: 0px;
    border-bottom: $calloutSize solid #bababa;
  }

  &.active:before,
  &.active:after {
    transform: translateY(0);
  }

  &.transition_from-favorites {
    animation: shrink .5s;

    &:before,
    &:after {
      display: none;
    }
  }

  &_hidden {
    opacity: 0;
    transform: translateX(-120%);
  }

  &__fav-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    background-image: image-url("/images/sample-fav@2x.png");
    background-size: 16px 16px;
  }
  &_fav &__fav-btn {
    background-image: image-url("/images/sample-fav-active@2x.png") !important;
  }

  &_dark &__fav-btn {
    background-image: image-url("/images/sample-fav-inv@2x.png");
  }
}

.active {
  .sample {
    &.active:before,
    &.active:after {
      visibility: visible;
    }
  }
}

.menu_alt {
  .sample {
    &__fav-btn {
      background-image: image-url("/images/sample-edit@2x.png") !important;
      opacity: 1;
    }
    &_fav &__fav-btn {
      background-image: image-url("/images/sample-edit@2x.png") !important;
    }

    &_dark .sample__fav-btn {
      background-image: image-url("/images/sample-edit-inv@2x.png") !important;
    }
    &_dark &_fav &__fav-btn {
      background-image: image-url("/images/sample-edit-inv@2x.png") !important;
    }
  }
}


.sample-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: $borderWidth;
  width: $sampleSize;
  height: $sampleSize + 3px;
  border-radius: $borderRadius;
  box-shadow:
              0 0 0 0px #fff,
              0 0 0 2px #fff inset,
              0 0 0 3px rgba(#000, .5) inset;
  transition: transform .15s ease-out;
  transform: translateX(-($sampleSize + $borderWidth * 2 + 2));
  z-index: 1;
  pointer-events: none;
}

@for $i from 1 through 20 {
  .sample:nth-child(#{$i}).active ~ .sample-overlay {
    transform: translateX(($sampleSize + $borderWidth * 2) * ($i - 1));
  }
}
.sample:nth-child(1).active ~ .sample-overlay {
  border-top-left-radius: $menuBorderRadius;
}

.theme_dark {
  .sample {
    &:before,
    &:after {
      border-bottom-color: #333;
    }

    &:before {
      border-bottom-color: #000;
    }
  }
//  .sample-overlay {
//    box-shadow:
//                0 0 0 0px #333,
//                0 0 0 2px #333 inset,
//                0 0 0 3px rgba(#fff, .75) inset;
//  }
}
