.shortcut {
  display: inline-block;
  padding: 0 .25em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: baseline;
  background-color: rgba(#fff, .5);
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 3px;
}
