.toolbar {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 33px;
  border-top: 1px solid rgba(#000, .125);
  border-bottom: 1px solid rgba(#000, .125);
  background: linear-gradient($bgColorLight, rgba($bgColorLight, .5));
  z-index: 0;
  overflow: hidden;
}

  .toolbar__item {
    position: absolute;
    top: 8px;
    left: 50%;
    padding-left: 7px;
    transform: translateX(-50%);
    transition:
      opacity .5s,
      left .5s,
      transform .5s;
  }

  .toolbar__item_new {
    left: 2px;
    width: 16px;
    transform: translateX(0);
  }

  .toolbar__item_filter {
    left: 20px;
    transform: translateX(0);
  }
    .toolbar__input {
      padding: 3px 0;
      margin-top: -3px;
      width: 350px;
      font-size: 13px;
      background-color: transparent;
      border: none !important;
      outline: none;
      appearance: none;
    }

  .toolbar__item_back {
    padding-left: 16px;
    color: #4A4A4A;
    background: image-url("/images/icon_back@2x.png") 0 1px no-repeat;
    background-size: 16px 16px;
    height: 16px;
    opacity: 0;
    transform: translateX(0);
  }
  .toolbar__item_color {
    left: calc(100% - 7px);
    width: 16px;
    transform: translateX(-100%);
  }
  .toolbar__item_colortoolbar {
    top: 0;
    background: image-url("/images/color-panel_toolbar.png") 0 0 no-repeat;
    width: 164px;
    height: 33px;
    opacity: 0;
    transform: translateX(150%);
  }

.menu_all {
  .toolbar {
    .toolbar__item_recent {
      opacity: 0;
    }
    .toolbar__item_filter {
      opacity: 1;
    }
  }
}
.menu_color {
  .toolbar {
    .toolbar__item_recent,
    .toolbar__item_filter,
    .toolbar__item_new {
      opacity: 0;
      left: 0;
      transform: translateX(-400px);
    }
    .toolbar__item_filter {
      transform: translateX(-100%);
    }
    .toolbar__item_back {
      left: 7px;
      opacity: 1;
    }
    .toolbar__item_color {
      opacity: 0;
      left: 50%;
    }
    .toolbar__item_colortoolbar {
      opacity: 1;
      transform: translateX(-50%);
    }
  }
}
.theme_dark .toolbar {
  background: linear-gradient($bgColorDark, rgba($bgColorDark, .5));
}
