.tour {
  position: absolute;
  overflow: visible;
  z-index: 99999;
  width: 100%;
  height: 100%;
}

#svg circle {
  transform: translate(17px,57px);
  transition: transform .5s ease-in-out;
}
#svg:hover circle {
  transform: translate(100px,100px);
}
