$bgColorLight: rgba(#fff, .85);
$bgColorDark: rgba(#333, .85);
$textColorLight: #000;
$textColorDark: #ddd;
$textColorActive: #fff;

@import "reset";
@import "icons";
@import "shortcut";
@import "menu";
@import "toolbar";
@import "sample";

body {
  background-color: #000;
  color: $textColorLight;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.theme_dark {
  color: $textColorDark;
}
p {
  margin: 0;
  padding: 0;
}
.cs-loupe {
  cursor: none;
}
* {
  -webkit-user-select: none;
}
