@-webkit-keyframes flashy {
  0% {
    -webkit-filter: brightness(200%);
  }
}

.loupe {
  position: absolute;
  border: 2px solid rgba(#fff, .5);
  box-shadow: 0 0 0 1px rgba(#333, .125);
  width: 42px;
  height: 42px;
  border-radius: 42px;
  @include translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -webkit-transition: -webkit-transform .125s .125s,
                      opacity .25s .125s;

  &.picked {
    opacity: 0;
    -webkit-animation: flashy .25s;
    -webkit-transform: scale(.01);
  }
}

  .loupe__overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: 20px;
    padding: 3px 4px;
    color: #fff;
    font: 9px/1 "Monaco";
    white-space: nowrap;
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(#000,.25);
    box-shadow:
      0 1px 8px rgba(#333, .45),
      0 0 0 1px rgba(#fff, 0.5) inset,
      0 0 0 1px rgba(#333, 0.25);

    transition:
      color 100ms,
      background-color 25ms
  }
  .loupe_invert .loupe__overlay {
    color: #000;
    text-shadow: 0 1px 0 rgba(#fff,.25);
  }
    .loupe__format {
      margin-bottom: .5em;
      font: bold 10px "Lucida Grande";
    }

  .loupe__overlay_none {
    visibility: collapse;
  }

  .loupe__overlay_simple {
    height: 26px;
    width: 24px;
  }
    .loupe__overlay_simple .loupe__format,
    .loupe__overlay_simple .loupe__color { display: none; }
