$menuBackgroundColor: #f3f3f3;
$menuBorderWidth: 5px;
$menuBorderRadius: 4px;
$sampleSize: 48px;
$activeColor: #366bda;

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  font: 14px "Lucida Grande", Helvetica, sans-serif;
  background-color: $menuBackgroundColor;
  border: $menuBorderWidth solid $menuBackgroundColor;
  @include border-radius($menuBorderRadius + 3);
  @include box-shadow(
    0 0 0 1px rgba(darken($menuBackgroundColor, 40%), .5),
    0 4px 16px rgba(#000, .25)
  );
  @include transition-timing-function(cubic-bezier(0.770, 0.000, 0.175, 1.000));
  @include transition(
    opacity 125ms,
    -webkit-transform 250ms);
  -webkit-font-smoothing: antialiased;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    @include scale(.5);
    @include transition(
      visibility 1ms 250ms,
      opacity 125ms 50ms,
      -webkit-transform 250ms
    );
  }
}

  .menu__header {
    padding: $menuBorderWidth;
    padding-bottom: 14px;
    font-size: 1.35em;
    @include background(linear-gradient(#555, #333));
    @include border-top-radius($menuBorderRadius);
    box-shadow: 0 1px 4px #000 inset;
    @include clearfix;
  }
    .menu__sample {
      position: relative;
      float: left;
      margin-left: $menuBorderWidth;
      width: $sampleSize;
      height: $sampleSize;
      @include border-radius($menuBorderRadius - 1px);
      @include box-shadow(
        0 1px 4px 0px rgba(#000, 1),
        0 0 0 1px rgba(#fff, 0.6) inset,
        0 0 0 2px rgba(#000, 0.3) inset
      );

      &:first-child {
        margin-left: 0;
      }

      &.active {
        border-color: $activeColor;
        @include box-shadow(
          0 0 0 1px darken(#fbd73f, 20),
          0 0 0 1px #fbd73f inset,
          0 0 0 2px lighten(#fbd73f, 20) inset,
          0 0 0 3px rgba(#000, 0.2) inset
        );
        &:after {
          position: absolute;
          left: 50%;
          bottom: -14px;
          margin-left: -8px;
          width: 16px;
          height: 8px;
          background: inline-image("callout.svg") 0 0 no-repeat;
          content: "";
        }
      }
    }

  .menu__items {
    margin-top: $menuBorderWidth;
  }
    .menu__group {
      .menu__item:last-child {
        border-bottom-color: #ccc;
      }
    }
    .menu__group:last-child {
      .menu__item:last-child {
        border-bottom-width: 0;
        @include border-bottom-radius($menuBorderRadius);
      }
    }

    .menu__item {
      position: relative;
      padding: $menuBorderWidth;
      list-style: none;
      border-bottom: 1px solid transparent;
      @include clearfix;

      &:after {
        position: absolute;
        top: 50%;
        right: .5em;
        color: #bbb;
        margin-top: -.55em;
        font-size: 1em;
        text-align: right;
        width: 2em;
      }

      &.menu__item_1:after { content: "⌘1"; }
      &.menu__item_2:after { content: "⌘2"; }
      &.menu__item_3:after { content: "⌘3"; }
      &.menu__item_4:after { content: "⌘4"; }
      &.menu__item_5:after { content: "⌘5"; }
      &.menu__item_6:after { content: "⌘6"; }
      &.menu__item_7:after { content: "⌘7"; }
      &.menu__item_8:after { content: "⌘8"; }
      &.menu__item_9:after { content: "⌘9"; }
      &.menu__item_0:after { content: "⌘0"; }

      &.active {
        border-bottom-color: darken($activeColor, 10);
        background-color: $activeColor;
        color: #fff;
        .menu__subtitle {
          color: #ccc;
        }

        &:after {
          color: #fff;
          content: "↩";
        }
      }
    }
    .menu__title {
      display: inline-block;
      font-weight: bold;
      width: 8em;
    }
    .menu__subtitle {
      display: inline-block;
      color: #666;
      font-size: .85em;
      width: 15em;
    }
