$menuBackgroundColor: rgba(#fcfcfc, .95);
$menuBorderWidth: 5px;
$menuBorderRadius: 5px;
$menuSampleBorderRadius: 3px;
$menuCalloutSize: 8px;
$menuSampleSize: 42px;
$menuSeparatorColor: #e5e5e4;
$menuActiveColor1: #658cf5;
$menuActiveColor2: #2765f2;
$menuActiveColor: #366bda;

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -205px;
  font: 14px "Lucida Grande", Helvetica, sans-serif;
  // width: ($menuSampleSize + 10) * 8 + 10;
  width: 410px;
  background-color: $menuBackgroundColor;
  border-radius: $menuBorderRadius + 2;
  box-shadow:
    0 0 0 1px rgba(#f9f9fc, 1) inset,
    0 0 0 1px rgba(#122a3c, .1),
    0 4px 32px 2px rgba(#01192b, .35);

  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition:
    opacity 125ms,
    width .35s,
    -webkit-transform 250ms;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    @include transform(scale(.5));
    @include transition(
      visibility 1ms 250ms,
      opacity 125ms 50ms,
      transform 250ms
    );
  }
}

  .menu__history {
    position: relative;
    padding: 2 * $menuBorderWidth;
    padding-bottom: 14px;
    font-size: 1.35em;
    white-space: nowrap;
    background: #E8E8E8;
    @include border-top-radius($menuBorderRadius);
    box-shadow: 0 0 1px rgba(0,0,0,.5) inset;
    height: $menuSampleSize;
    overflow: hidden;
    overflow-x: auto;

    &.dragging {
      overflow: hidden;
    }
  }
    .menu__sample {
      position: relative;
      display: inline-block;
      padding: 0;
      margin-right: 10px;
      width: $menuSampleSize;
      height: $menuSampleSize;
      border-radius: $menuSampleBorderRadius;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .25) inset;
      opacity: 1;
      z-index: 1;
      @include transition(
        transform .5s,
        opacity .5s
      );

      &:last-of-type {
        margin-right: 0;
      }

      &:before,
      &:after {
        position: absolute;
        left: 50%;
        bottom: -14px;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-top: 0;
        border-left: $menuCalloutSize solid transparent;
        border-right: $menuCalloutSize solid transparent;
        border-bottom: $menuCalloutSize solid $menuBackgroundColor;
        content: "";
        @include translateY(8px);
        @include transition(transform .25s .125s ease-in-out);
      }

      &:before {
        bottom: -13px;
        border-bottom: $menuCalloutSize solid #cdcdcd;
      }

      &.active:before,
      &.active:after {
        @include translateY(0);
      }
    }

    .menu__sample_hidden {
      opacity: 0;
      @include translateY(120%);
    }

    .menu__sample_pick {
      background: image-url("/images/icon_add-color@2x.png") 50% 50% no-repeat;
      background-size: 29px 29px;
      box-shadow: none;
    }

    .menu__sample-overlay {
      position: absolute;
      top: 2px;
      left: 2px;
      margin: $menuBorderWidth;
      width: $menuSampleSize + 2px;
      height: $menuSampleSize + 2px;
      border-radius: $menuBorderRadius - 1px;
      border: 2px solid #4990E2;
      @include transition(transform .15s ease-out);
      z-index: 0;
    }

    @for $i from 1 through 20 {
      .menu__sample:nth-child(#{$i}).active ~ .menu__sample-overlay {
        @include translateX(($menuSampleSize + $menuBorderWidth * 2) * ($i - 1));
      }
    }

  .menu__formats {
    position: relative;
    overflow: hidden;
    @include transition(height .5s);
  }
  // View states
  .menu_recent {
    .menu__formats {
      height: 246px;
      overflow: hidden;
    }
    .menu__items_recent {
      visibility: auto;
      opacity: 1;
    }
    .menu__items_all {
      visibility: hidden;
      opacity: 0;
    }
    .menu__color-panel {
      @include translateX(100%);
    }
  }
  .menu_all {
    .menu__formats {
      height: 442px;
      overflow-y: auto;
    }
    .menu__items_recent {
      visibility: hidden;
      opacity: 0;

      @for $i from 1 through 20 {
        .menu__item_pos#{$i} {
          @include translateY(36px * ($i - 1));
        }
      }
    }
    .menu__items_all {
      margin-bottom: 5px;
      visibility: auto;
      opacity: 1;
    }
    .menu__color-panel {
      @include translateX(100%);
    }
  }

  .menu_color {
    .menu__formats {
      height: 478px;
      overflow: hidden;
    }
    .menu__items_recent,
    .menu__items_all {
      @include translateX(-100%);
    }
    .menu__color-panel {
      @include translateX(0);
    }
  }

  .menu__color-panel,
  .menu__items {
    position: absolute;
    width: 100%;
    @include transition(transform .5s, opacity .25s, visibility 0 .25s);
  }
  .menu__color-panel {
    z-index: 1;
  }

    .menu__item {
      position: relative;
      padding: $menuBorderWidth - 2px $menuBorderWidth * 2;
      padding-left: 32px;
      list-style: none;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      @include transition(transform .25s);

      @each $format in generic, css, osx, ios, android, cg, opengl {
        &.menu__item_#{$format} {
          background: image-url("/images/formats/format-icon_#{$format}@2x.png") 10px 4px no-repeat;
          background-size: 16px 16px;
        }
      }

      // Shortcuts
      &:after {
        position: absolute;
        top: 50%;
        right: .5em;
        font-size: 13px;
        line-height: 0;
      }

      &.active {
        border-top-color: darken($menuActiveColor1, 7%);
        border-bottom-color: darken($menuActiveColor2, 7%)!important;
        color: #fff;
        background: linear-gradient($menuActiveColor1, $menuActiveColor2);

        @each $format in generic, css, osx, ios, android, cg, opengl {
          &.menu__item_#{$format} {
            background: image-url("/images/formats/format-icon_#{$format}-active@2x.png") 10px 4px no-repeat,
                        linear-gradient($menuActiveColor1, $menuActiveColor2) 0 0;
            background-size: 16px 16px,
                              auto auto;
          }
        }

        .menu__subtitle {
          color: #fff;
        }

        &:after {
          color: #fff;
          content: "↩"!important;
        }
      }
    }

    .menu__item-separator {
      margin-top: $menuBorderRadius;
      border-bottom: 1px solid $menuSeparatorColor;
    }

    .menu__title {
      display: block;
      font-size: 14px;
    }
    .menu__subtitle {
      display: block;
      margin-top: 2px;
      color: rgba(#000, .45);
      font-size: 12px;
      white-space: nowrap;
      @include ellipsis;
      width: 96%;
    }

  .menu__color-panel {
    .menu__btn_back {
      position: absolute;
      top: 5px;
      left: 7px;
    }
  }
